<a href="https://colab.research.google.com/github/Keremalikorkmaz/Create-Teach-Evaluate/blob/main/Create.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
import numpy as np
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [2]:
#Create

Sport=["Sport","Football", "Basketball", "Volleyball", "Tennis", "Athletics"]
Tourism = ["Tourism", "Tourist", "Touristic", "Travel", "Vacation"]
Science = ["Science", "Mathematics", "Biology", "Scientist", "Chemistry", "Geology"]

categories = [Sport, Tourism, Science] 



df=pd.DataFrame()
for j in range(len(categories)):
    text = ''
    for i in range(len(categories[j])):
        r = requests.get(f"https://sentence.yourdictionary.com/{categories[j][i]}")
        soup = bs(r.content)
        paragraph =soup.find_all("span", attrs={"class": "sentence-item__text"})
        text = text + str(paragraph)
    arr = text.split("</span>,")
    arr=[s.replace(' <span class="sentence-item__text" data-v-833c1076="">','') for s in arr]
    arr=[s.replace('<mark>','') for s in arr]
    arr=[s.replace('</mark>','') for s in arr]
    arr=[s.replace('[<span class="sentence-item__text" data-v-833c1076="">','') for s in arr]
    arr=[s.replace('</span>]','') for s in arr]
    df2 = pd.DataFrame(arr,columns=["Sentences"])
    df2["Category"]=categories[j][0]
    df=pd.concat([df,df2])
    
df['CategoryID'] = labelencoder.fit_transform(df['Category'])    
df.reset_index(drop=True, inplace=True)

In [3]:
df.groupby('Category').count()

          Sentences  CategoryID
Category
Science        2146        2146
Sport          2109        2109
Tourism        1416        1416

In [4]:
df.to_excel("Category_Sentences.xlsx",index=False)